set -a

AWS_ACCESS_KEY_ID=AKISAMPLEACCESSKEYID
AWS_SECRET_ACCESS_KEY='qrv4++SAMPLE_SECRET_ACCESS_KEY/+Aoi'
AWS_REGION=eu-west-1

BBL_AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
BBL_AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
BBL_AWS_REGION="$AWS_REGION"

BBL_IAAS=aws
BBL_STATE_DIRECTORY=$PWD/bbl.state
BBL_ENV_NAME="<YOU>cf"

SYSTEM_DOMAIN="<platform>.<primary-domain>"

set +a
